[Unit]
Description=NTP client/server
After=syslog.target ntpdate.service
Conflicts=ntpd.service

[Service]
ExecStartPre=/etc/init.d/chronyd generate-commandkey
ExecStart=/usr/sbin/chronyd -n -u chrony
ExecStartPost=/etc/init.d/chronyd add-dhclient-servers

[Install]
WantedBy=multi-user.target
