#!/usr/bin/make -f
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Cristoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir

	./configure --prefix=''
	# Add here commands to compile the package.
	$(MAKE) 
	$(MAKE) docs

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean

	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	$(MAKE) install DESTDIR=`pwd`/debian/tmp/usr MANDIR=/share/man

	touch install-stamp

# Build architecture-independent files here.
binary-indep: build install
	chmod 755 faqgen.pl
	./faqgen.pl < faq.txt > faq.html

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmenu -n
	dh_installinit -n
	dh_installcron
	dh_installmanpages
	dh_installchangelogs 
	cp chrony.conf debian/tmp/etc/chrony
	cp chrony.keys debian/tmp/etc/chrony
	cp chrony.info debian/tmp/usr/share/info
#	cp chrony.info-1 debian/tmp/usr/share/info
#	cp chrony.info-2 debian/tmp/usr/share/info
#	cp chrony.info-3 debian/tmp/usr/share/info
#	cp chrony.info-4 debian/tmp/usr/share/info
	cp debian/ip-up debian/tmp/etc/ppp/ip-up.d/chrony
	cp debian/ip-down debian/tmp/etc/ppp/ip-down.d/chrony
	cp debian/apm debian/tmp/etc/apm/event.d/01chrony
	chmod 755 debian/tmp/etc/apm/event.d/01chrony
	dh_strip
	dh_compress
	dh_fixperms
	chmod 640 debian/tmp/etc/chrony/chrony.keys
	chmod 755 debian/tmp/etc/ppp/ip-up.d/chrony debian/tmp/etc/ppp/ip-down.d/chrony
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
